@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Poppins:wght@300;400&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
.super-container{
    background-color:#F2ECD2;
    display: flex;
    
    height: 100vh;
    justify-content: space-around;
    align-items: center;
    overflow: hidden;
}


.gallery-container{
  position: relative;
  height:90%;
  display:flex;
  flex-direction:column;
  align-items:center;
}
.image-rectangle{
  height:300px;
  width:180px;
  background-color:rgb(192, 190, 190);
  border-radius:10px;
  margin:5px;
}
.gallery-row{
  display:flex;
}
.tall{
    height:340px;
}
.sides{
  position:relative;
  top:-40px;
}

.col3{
    height:250px;
}

.col6{
   top:-90px;
   height:310px;

}

  .text {
    color: black;
    width: 40vw;
    text-align: center;
    margin-top: 20px;
  }
  
  .text>p{
    font-size: 30px;
  }

  .text>p{
    padding:  20px;
    font-size: 30px;
  }

  .explore{
    height: 30px;
    padding: 0px 15px;
    border: solid rgba(94, 94, 94, 0.63) 2px;
    border-top:solid rgb(94, 94, 94,0.5) 1px; ;
    border-radius: 10px;
    font-weight: bold;
  }
  .img1{
    background-image: url("./1.png");
    background-size: contain;
  }
  .img2{
    background-image: url("./2.png");
    background-size: contain;

  }
  .img3{
    background-image: url("./3.png");
    background-size: contain;
  }

  .img4{
    background-image: url("./4.png");
    background-size: contain;
  }

  .img5{
    background-image: url("./5.png");
    background-size: contain;
  }

  .img6{
    background-image: url("./6.png");
    background-size: contain;
  }
  

  
  @media only screen and (max-width: 767px) {
    .super-container{
        flex-direction: column;
    }
    .gallery-container{
      display: none;
    }
    
    .container{
      background-color: black;
      position: absolute;
    }
    img {
      width: 100px;
      height: 120px;
    }
    .tall {
      margin-top:20px;
      height: 150px;
    }
    .text{
      position: relative;
      width: 80%;
    }
    
}


/* images */