.cred-experience {
  background-color: #F2ECD2;
  color: #000;
  background-position:left;


  background-image: url(./backimg_login.png);
}

@media all and (max-width: 1279px) {
  .cred-experience {
    background-position:left;
    color: #000;

  }
}

@media all and (max-width: 767px) {
  .cred-experience {
    background-color: #F2ECD2;
    background-image: url(./backimg_login.png);
    min-height: 1150px;
    color: #000;

    background-position:left;
  }

  .cred-experience-description {
    margin-top: 0px;
    color: #000;

  }

  .cred-experience-heading {
    margin-top: 0px;
  }
}
