.feel-special {
  background-image: url(./Smoke-PNG-Image-lkahnrcss.png);
  background-color: #023E8A;
}

@media all and (max-width: 1279px) {
  .feel-special {
    background-position: center bottom;
  }
}

@media all and (max-width: 767px) {
  .feel-special {
    background-image: url(./Smoke-PNG-Image-lkahnrcss.png);
  background-color: #023E8A;
 
    min-height: 1150px;
    background-position: right center;
  }
}
.button-wrapper3{
  cursor: pointer;
  background-color: white;
  color: black;
  font-size: 18px;
  font-weight: 700;
  padding: 20px 65px;
  width: max-content;
  border-radius: 5%;
}